body{
    background-color: seagreen;
}
td{
    border: 2px solid black;
    height: 150px;
    width: 150px;
    cursor: pointer;
    text-align: center;
    font-size: 70px;
}
table{
    border-collapse: collapse;
    display: flex;
    justify-content: center;

}
.endGame{
    display: none;
    width: 350px;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -110px;
    margin-top: 307px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.527);
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.button>button{
    padding: 10px;
    background-color: rgb(255, 253, 251);
    cursor: pointer;
    border-radius: 5px;
    border-style: none;
}
.button>button:hover{
    background-color: green;
}